@model AlifAdminMiniMarketV2.Models.Product

<form asp-action="Add" asp-controller="Product" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="ProductName">Имя продукта</label>
            <input type="text" asp-for="ProductName" class="form-control"/>
            <span asp-validation-for="ProductName"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductCategory">Имя продукта</label>
            <select name="id" class="form-control">
                @foreach(var x in ViewBag.Categories)
                {
                    <option value="@x.Id">
                        @x.Category
                    </option>
                }
            </select>
            <span asp-validation-for="ProductCategory"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price">Цена</label>
            <input type="number" asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="form-control btn"/>
        </div>
    </div>
</form>